.about {
    margin-top: 3%;
    height: 150vh;
    /* background-color: hsl(222, 54%, 11%); */
    box-shadow: 0 0 5px var(--grayColor);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;


}

.text-center {
    margin-top: 10%;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    margin-left: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--secondaryColor);
    padding-top: 5%;
    padding-bottom: 1%;
}

.rounded-box {
    /* background-color: var(--glaucous); */
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px 45px;
    justify-content: space-between;
    margin-top: 9%;


}

.rounded-card {
    /* background-color: var(--manatee); */
    width: 300px;
    height: 100px;
    border-radius: 50px;
    padding: 30px 45px;
    text-align: center;
    box-shadow: 0 0 5px #d9d9d9;

}

.s-icons .bx {
    color: var(--secondaryColor);
    font-size: 50px;
    transition: all 0.5s ease-out;
    transition: all 0.45s ease;
    cursor: pointer;
}

.s-icons i:hover {
    color: #ccccef;
    transition: all 0.5s ease-out;
}

.title {
    margin-top: 30%;
}

.sub-title {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffed64;
    margin-bottom: 10%;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: -40%;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 20px;
    color: white;
    margin-top: 2%;
}



.exp {
    width: 250px;
    margin-left: -200px;
    margin-bottom: 5%;
}

.experience {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 20%;
    padding: 20px 35px;
    position: absolute;
}



.experience-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 30px 45px;
    width: 600px;
    height: 300px;
    margin-left: -200px;
    box-shadow: 0px 0px 10px 1px #d9d9d9;
}

.experience-p {
    color: var(--bluetiful);
    font-weight: 500;
}

.title-exp {
    margin-top: 30%;
    color: var(--yellowColor);
}

.p-exp {
    color: aliceblue;
}

.exp-box {
    margin-top: -100px;
}

.bx-briefcase {
    margin-bottom: 5px;
}

.text-center-exp {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    margin-left: -250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}




@media screen and (min-width: 375px) and (max-width: 667px) {
    .about {
        margin-top: 3%;
        height: 480vh;
        /* background-color: hsl(222, 54%, 11%); */
        box-shadow: 0 0 5px #d9d9d9;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 30px;
        margin-bottom: 1000px;



    }

    .text-center {
        margin-top: 45%;
        padding-top: 10%;
        padding-bottom: 8%;


    }



    hr {
        margin-left: 15%;
        width: 240px;
    }

    .exp {
        width: 280px;
        margin-left: -150px;
        margin-bottom: 5%;
        margin-top: -20px;
    }

    .rounded-box {
        display: flex;
        justify-content: center;
        flex-direction: column;

        /* justify-content: space-between; */
    }

    .rounded-card {
        background-color: var(--primaryColor);
        width: 150px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 480px;
        margin-left: 50px;
        text-align: center;
        box-shadow: 0 0 5px #d9d9d9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .s-icons .bx {
        color: var(--secondaryColor);
        margin-top: -25px;
        margin-left: -5px;

    }

    .title {
        margin-top: 30px;
        margin-left: -10%;
    }

    .sub-title {
        font-size: 20px;
        font-weight: 800;
        margin-left: -20px;
        margin-bottom: 50%;
        margin-top: 60%;
    }

    .paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-left: -120px;
        padding-left: 10%;
        padding-right: 5%;
        font-size: 15px;
        color: white;
        margin-top: 50%;

    }

    .experience-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 30px 45px;
        width: 250px;
        height: 300px;
        margin-top: 40px;
        margin-right: -40px;

        box-shadow: 0px 0px 10px 1px #d9d9d9;
    }

    .text-center-exp {
        margin-top: 10%;
        margin-left: -130px;
    }


    .experience-p {
        color: var(--bluetiful);
        font-weight: 500;
        margin-left: -5px;
        margin-right: -10px;
        font-size: 15px;
    }

    .title-exp {
        margin-top: 60%;
        margin-bottom: -5%;
        margin-right: 10px;
        color: var(--yellowColor);
        font-size: 20px;
    }

    .p-exp {
        color: aliceblue;
        margin-right: -10px;
        margin-left: -10px;
        margin-bottom: 10%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 414px) and (max-width: 896px) {
    .about {
        margin-top: 3%;
        height: 380vh;
        /* background-color: hsl(222, 54%, 11%); */
        box-shadow: 0 0 5px #d9d9d9;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 30px;

    }

    .text-center {
        margin-top: 45%;
        padding-top: 10%;
        padding-bottom: 8%;


    }



    hr {
        margin-left: 15%;
        width: 240px;
    }

    .exp {
        width: 260px;
        margin-right: 5%;
    }

    .rounded-box {
        display: flex;
        justify-content: center;
        flex-direction: column;

        /* justify-content: space-between; */
    }

    .rounded-card {
        background-color: var(--primaryColor);
        width: 150px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 550px;
        margin-left: 60px;
        text-align: center;
        box-shadow: 0 0 5px #d9d9d9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .s-icons .bx {
        color: var(--secondaryColor);
        margin-top: -45px;
        margin-left: -5px;

    }

    .title {
        margin-top: 30px;
        margin-left: -10%;
    }

    .sub-title {
        font-size: 22px;
        font-weight: 800;
        margin-left: -10px;
        margin-bottom: 50%;
        margin-top: 60%;
    }

    .paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-left: -100px;
        padding-left: 10%;
        padding-right: 5%;
        font-size: 20px;
        color: white;
        margin-top: 50%;

    }

    .text-center-exp {
        margin-top: 10%;
        margin-left: -130px;
    }


    .experience-p {
        color: var(--bluetiful);
        font-weight: 500;
        margin-left: -60px;
        font-size: 15px;
    }

    .title-exp {
        margin-top: 60%;
        margin-bottom: -5%;
        margin-right: 10px;
        color: var(--yellowColor);
        font-size: 20px;
    }

    .p-exp {
        color: aliceblue;
        margin-left: -60px;
        margin-bottom: 10%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 390px) and (max-width: 844px) {
    .about {
        margin-top: 3%;
        height: 410vh;
        /* background-color: hsl(222, 54%, 11%); */
        box-shadow: 0 0 5px #d9d9d9;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 30px;

    }

    .text-center {
        margin-top: 45%;
        padding-top: 10%;
        padding-bottom: 8%;


    }



    hr {
        margin-left: 15%;
        width: 240px;
    }

    .rounded-box {
        display: flex;
        justify-content: center;
        flex-direction: column;

        /* justify-content: space-between; */
    }

    .rounded-card {
        background-color: var(--primaryColor);
        width: 150px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 550px;
        margin-left: 60px;
        text-align: center;
        box-shadow: 0 0 5px #d9d9d9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .s-icons .bx {
        color: var(--secondaryColor);
        margin-top: -25px;
        margin-left: -5px;

    }

    .title {
        margin-top: 30px;
        margin-left: -10%;
    }

    .sub-title {
        font-size: 22px;
        font-weight: 800;
        margin-left: -10px;
        margin-bottom: 50%;
        margin-top: 60%;
    }

    .paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-left: -120px;
        padding-left: 10%;
        padding-right: 5%;
        font-size: 20px;
        color: white;
        margin-top: 50%;

    }

    .text-center-exp {
        margin-top: 10%;
        margin-left: -130px;
    }


    .experience-p {
        color: var(--bluetiful);
        font-weight: 500;
        margin-left: -30px;
        font-size: 15px;
    }

    .title-exp {
        margin-top: 60%;
        margin-bottom: -5%;
        margin-right: 10px;
        color: var(--yellowColor);
        font-size: 20px;
    }

    .p-exp {
        color: aliceblue;
        margin-left: -20px;
        margin-bottom: 10%;
        margin-top: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width: 412px) and (max-width: 915px) {
    .about {
        margin-top: 3%;
        height: 400vh;
        /* background-color: hsl(222, 54%, 11%); */
        box-shadow: 0 0 5px #d9d9d9;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 30px;

    }

    .text-center {
        margin-top: 45%;
        padding-top: 10%;
        padding-bottom: 8%;


    }



    hr {
        margin-left: 15%;
        width: 240px;
    }

    .rounded-box {
        display: flex;
        justify-content: center;
        flex-direction: column;

        /* justify-content: space-between; */
    }

    .rounded-card {
        background-color: var(--primaryColor);
        width: 150px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 550px;
        margin-left: 60px;
        text-align: center;
        box-shadow: 0 0 5px #d9d9d9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .s-icons .bx {
        color: var(--secondaryColor);
        margin-top: -25px;
        margin-left: -5px;

    }

    .title {
        margin-top: 30px;
        margin-left: -10%;
    }

    .sub-title {
        font-size: 22px;
        font-weight: 800;
        margin-left: -10px;
        margin-bottom: 50%;
        margin-top: 60%;
    }

    .paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-left: -120px;
        padding-left: 10%;
        padding-right: 5%;
        font-size: 20px;
        color: white;
        margin-top: 50%;

    }

    .experience-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 30px 45px;
        width: 250px;
        height: 300px;
        margin-left: -185px;
        margin-top: 70%;
        box-shadow: 0px 0px 10px 1px #d9d9d9;
    }


    .text-center-exp {
        margin-top: 10%;
        margin-left: -130px;
    }


    .experience-p {
        color: var(--bluetiful);
        font-weight: 500;
        margin-left: -1px;
        margin-right: 10px;
        font-size: 16px;
    }

    .title-exp {
        margin-top: 60%;
        margin-bottom: -5%;
        margin-right: 10px;
        color: var(--yellowColor);
        font-size: 20px;
    }

    .p-exp {
        color: aliceblue;
        margin-right: -10px;
        margin-left: -1px;
        margin-bottom: 10%;
        margin-top: 20px;
        font-size: 19px;
    }

    .exp {
        margin-right: 10%;
    }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
    .about {
        margin-top: 3%;
        height: 400vh;
        /* background-color: hsl(222, 54%, 11%); */
        box-shadow: 0 0 5px #d9d9d9;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 30px;

    }

    .text-center {
        margin-top: 45%;
        padding-top: 10%;
        padding-bottom: 8%;


    }



    hr {
        margin-left: 30%;
        width: 290px;
    }

    .rounded-box {
        display: flex;
        justify-content: center;
        flex-direction: column;

        /* justify-content: space-between; */
    }

    .rounded-card {
        background-color: var(--primaryColor);
        width: 180px;
        height: 80px;
        border-radius: 30px;
        margin-bottom: 780px;
        margin-left: 230px;
        text-align: center;
        box-shadow: 0 0 5px #d9d9d9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .s-icons .bx {
        color: var(--secondaryColor);
        margin-top: -16px;
        margin-left: -10px;

    }

    .title {
        margin-top: 30px;
        margin-left: -10%;
    }

    .sub-title {
        font-size: 30px;
        font-weight: 800;
        margin-left: -10px;
        margin-bottom: 50%;
        margin-top: 60%;
    }

    .paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-left: -80px;
        padding-left: 8%;
        padding-right: 5%;
        font-size: 29px;
        color: white;
        margin-top: 50%;

    }

    .experience-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 30px 45px;
        width: 250px;
        height: 320px;
        margin-left: -105px;
        margin-top: 70%;
        box-shadow: 0px 0px 10px 1px #d9d9d9;
    }


    .text-center-exp {
        margin-top: 10%;
        margin-left: -90px;
    }

    .exp {
        margin-top: 10%;
        margin-left: -160px;
    }

    .experience-p {
        color: var(--bluetiful);
        font-weight: 500;
        margin-left: -1px;
        margin-right: 10px;
        font-size: 20px;
    }

    .title-exp {
        margin-top: 60%;
        margin-bottom: -5%;
        margin-right: 10px;
        color: var(--yellowColor);
        font-size: 20px;
    }

    .p-exp {
        color: aliceblue;
        margin-right: -10px;
        margin-left: -1px;
        margin-bottom: 10%;
        margin-top: 20px;
        font-size: 22px;
    }

    .exp {
        margin-right: -70%;
    }
}