.contact {
    background: rgb(255, 239, 96);
    margin-top: -1%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 9%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 85%;
    height: 70vh;

}


.text-center-skills h4 {
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--primaryColor);
}

.text-center-skills h2,
h4 {
    font-size: 55px;
    font-family: cursive;
    line-height: 1;
    margin-top: 10%;
    color: var(--primaryColor);
}

.text-center-skills p {
    color: var(--primaryColor);
    font-weight: 800;
    font-family: cursive;
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 30px;
    margin-left: 10%;
}

ul {
    list-style-type: none;
}

.list {
    margin-bottom: 2.8rem;

}


.list li {
    font-size: 40px;
    text-decoration: none;
}

.list li {
    margin-bottom: 12px;

}

.list li a {
    display: block;
    color: var(--primaryColor);
    font-size: 25px;
    transition: all 0.45s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.list li a:hover {
    color: var(--grayColor);
    transform: translateX(5px);
}

.contact-form form {
    position: relative;
    margin-top: 10%;
}



.contact-form form input,
form textarea {
    margin-left: 30%;
    width: 50%;
    margin-right: 20%;
    padding: 14px;
    background-color: var(--primaryColor);
    box-shadow: 0 0 5px var(--primaryColor);
    color: var(--orange-soda);
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 8px;

    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--primaryColor);
    color: var(--secondaryColor);
    width: 160px;
    transition: all 0.45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: var(--grayColor);
}

.bx {
    color: var(--primaryColor);
}

@media (max-width: 668px) {
    .contact {
        background-color: var(--secondaryColor);
        border-radius: 0px;
        margin-top: -700px;

    }

    .contact-box {
        width: 100%;
    }

    .list li a {


        font-size: 20px;

    }

    .text-center-skills {
        background-color: var(--secondaryColor);
        height: 180vh;
    }


    .contact {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 190vh;
        width: 80%;
        margin-left: 10%;
        grid-template-columns: 3fr;
        /* background-color: antiquewhite; */
        background-color: transparent
    }

    .text-center h4 {
        margin: 18px 0;
        font-size: 15px;
        font-weight: 600;
    }

    .text-center {
        font-size: 15px;
        line-height: 1;

    }

    .text-center p {
        color: var(--second-color);
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 30px;
    }

    .bx {
        margin-right: 5%;
    }



    .contact-form form {
        position: relative;
        margin-top: -380px;
        margin-bottom: 5%;
        background-color: transparent;
        padding-top: -30%;
        padding-bottom: 60%;
        /* background-color: blue; */

    }

    .contact-form form input,
    form textarea {
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
        padding: 14px;
        background-color: var(--primaryColor);
        /* background-color: var(--primaryColor); */
        box-shadow: 0 0 5px var(--primaryColor);
        color: var(--orange-soda);
        border: none;
        outline: none;
        font-size: 20px;
        border-radius: 8px;
        margin-bottom: 10px;
        /* margin-top: -20%; */
    }
}

@media screen and (min-width: 414px) and (max-width: 896px) {

    .contact {
        background-color: var(--secondaryColor);
        border-radius: 0px;


    }

    .contact-box {}

    .list li a {


        font-size: 20px;

    }

    .text-center-skills {
        background-color: var(--secondaryColor);
        height: 180vh;
    }


    .contact {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 190vh;

        margin-left: 10%;
        grid-template-columns: 3fr;
        /* background-color: antiquewhite; */
        background-color: transparent;
        margin-top: 100px;
    }

    .text-center h4 {
        margin: 18px 0;
        font-size: 15px;
        font-weight: 600;
    }

    .text-center {
        font-size: 15px;
        line-height: 1;

    }

    .text-center p {
        color: var(--second-color);
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 30px;
    }

    .bx {
        margin-right: 5%;
    }



    .contact-form form {
        position: relative;
        margin-top: -380px;
        margin-bottom: 5%;
        background-color: transparent;
        padding-top: -30%;
        padding-bottom: 60%;
        /* background-color: blue; */

    }

    .contact-form form input,
    form textarea {
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
        padding: 14px;
        background-color: var(--primaryColor);
        /* background-color: var(--primaryColor); */
        box-shadow: 0 0 5px var(--primaryColor);
        color: var(--orange-soda);
        border: none;
        outline: none;
        font-size: 20px;
        border-radius: 8px;
        margin-bottom: 10px;
        /* margin-top: -20%; */
    }


}


@media screen and (min-width: 390px) and (max-width: 844px) {
    .contact {
        background-color: var(--secondaryColor);
        border-radius: 0px;


    }

    .contact-box {}

    .list li a {


        font-size: 20px;

    }

    .text-center-skills {
        background-color: var(--secondaryColor);
        height: 180vh;
    }


    .contact {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 190vh;

        margin-left: 10%;
        grid-template-columns: 3fr;
        /* background-color: antiquewhite; */
        background-color: transparent;
        margin-top: 100px;
    }

    .text-center h4 {
        margin: 18px 0;
        font-size: 15px;
        font-weight: 600;
    }

    .text-center {
        font-size: 15px;
        line-height: 1;

    }

    .text-center p {
        color: var(--second-color);
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 30px;
    }

    .bx {
        margin-right: 5%;
    }



    .contact-form form {
        position: relative;
        margin-top: -380px;
        margin-bottom: 5%;
        background-color: transparent;
        padding-top: -30%;
        padding-bottom: 60%;
        /* background-color: blue; */

    }

    .contact-form form input,
    form textarea {
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
        padding: 14px;
        background-color: var(--primaryColor);
        /* background-color: var(--primaryColor); */
        box-shadow: 0 0 5px var(--primaryColor);
        color: var(--orange-soda);
        border: none;
        outline: none;
        font-size: 20px;
        border-radius: 8px;
        margin-bottom: 10px;
        /* margin-top: -20%; */
    }


}

@media screen and (min-width: 820px) and (max-width: 1180px) {

    .contact {
        background-color: var(--secondaryColor);
        border-radius: 0px;

        width: 90%;
    }

    .contact-box {
        width: 80%;
    }

    .list li a {


        font-size: 20px;

    }

    .text-center-skills {
        background-color: var(--secondaryColor);
        height: 180vh;
    }


    .contact {

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        height: 190vh;
        width: 80%;
        margin-left: 10%;
        grid-template-rows: 3fr;
        /* background-color: antiquewhite; */
        background-color: transparent
    }

    .text-center h4 {
        margin: 18px 0;
        font-size: 15px;
        font-weight: 600;
    }

    .text-center {
        font-size: 15px;
        line-height: 1;

    }

    .text-center p {
        color: var(--second-color);
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 30px;
    }

    .bx {
        margin-right: 5%;
    }



    .contact-form form {
        position: relative;
        margin-top: -380px;
        margin-bottom: 5%;
        background-color: transparent;
        padding-top: -30%;
        padding-bottom: 60%;
        /* background-color: blue; */

    }

    .contact-form form input,
    form textarea {
        margin-left: 10%;
        width: 30%;
        margin-right: 10%;
        padding: 14px;
        background-color: var(--primaryColor);
        /* background-color: var(--primaryColor); */
        box-shadow: 0 0 5px var(--primaryColor);
        color: var(--orange-soda);
        border: none;
        outline: none;
        font-size: 20px;
        border-radius: 8px;
        margin-bottom: 10px;
        /* margin-top: -20%; */
    }


}