.skills {
    background-color: var(--secondaryColor);
    margin-top: 10%;
    height: 70vh;
    margin-bottom: 500px;
}

.text-center-skills {
    margin-top: -0.9%;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    margin-left: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: var(--primaryColor); */
    padding-top: -50%;
    padding-bottom: 1%;
}

h2 {
    color: var(--primaryColor);
}

.box-skills {
    background-color: var(--primaryColor);
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* margin-left: 40%;
    margin-top: 20%; */
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0 0 5px hsl(222, 88%, 55%);
}

.frontback-card {
    width: 500px;
    padding: 10px 10px;
    background-color: var(--primaryColor);
    border-radius: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
    /* height: 70vh; */
    box-shadow: 0 0 10px black;
    /* box-shadow: 0 0 5px white; */
}

.frontend-hr {
    width: 480px;
    margin-left: 1%;
    margin-right: 50%;
}

.rows {
    margin-bottom: 1rem;
    padding: 0.70rem;
    margin-top: 5%;
    /* line-height: 2rem; */
    box-shadow: 0 0 5px #d9d9d9;
    transition: all .2s ease-in-out;
    display: flex;
    /* justify-content: space-between; */
    /* width: 25%; */
    background-color: var(--primaryColor);
    /* flex: 30%; */

}

.desc {
    color: rgb(255, 242, 217);
}

img .skill {
    width: 80px;
}

.title2 {
    color: var(--secondaryColor);
    margin-top: 3%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: rgb(208, 201, 192);
}

@media screen and (min-width: 375px) and (max-width: 740px) {
    .skills {
        background-color: var(--secondaryColor);
        margin-top: 800px;
        height: 250vh;
    }

    .text-center-skills {
        color: var(--primaryColor);
        background-color: var(--primaryColor);
    }

    .box-skills {
        background-color: var(--primaryColor);
        height: 190vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        /* margin-left: 40%;
        margin-top: 20%; */
        padding: 20px 40px;
        border-radius: 50px;
        margin-top: 80px;

    }

    hr {
        margin-top: -10%;
    }

    .frontend-hr {
        width: 200px;
        margin-left: 1%;
        margin-right: 50%;
        margin-top: -1%;
    }

    .frontback-card {
        width: 220px;
        padding: 10px 10px;
        border-radius: 40px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 30%;
        height: 200vh;
        box-shadow: 0 0 10px black;
        background-color: var(--primaryColor);

    }

    p {
        margin-top: 8%;
        margin-bottom: 10%;
        font-size: 13px;
        margin-left: 5%;
        margin-right: 3%;
    }

    .s-icons .bx {
        margin-left: 5%;
        cursor: pointer;
    }

    .rows {
        margin-bottom: 1rem;
        width: 200px;
        padding: 0.70rem;
        margin-top: 5%;
        /* line-height: 2rem; */
        box-shadow: 0 0 5px #d9d9d9;
        transition: all .2s ease-in-out;
        display: flex;
        /* justify-content: space-between; */
        /* width: 25%; */
        background-color: var(--primaryColor);
        /* flex: 30%; */

    }

}

@media screen and (min-width: 414px) and (max-width: 896px) {
    .skills {
        background-color: var(--independence);
        margin-top: 10%;
        height: 170vh;
    }

    .title2 {
        font-size: 20px;
    }

    .box-skills {
        background-color: var(--primaryColor);
        height: 140vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        border-radius: 50px;

    }

    hr {
        margin-top: -10%;
    }

    .frontend-hr {
        width: 240px;
        margin-left: 1%;
        margin-right: 50%;
        margin-top: 2%;
        margin-bottom: 5%;

    }

    .frontback-card {
        width: 260px;
        padding: 10px 10px;
        background-color: var(--manatee);

        border-radius: 40px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30%;
        margin-bottom: 30%;
        height: 50vh;
        box-shadow: 0 0 10px black;
    }

    p {
        margin-top: -1%;
        font-size: 15px;
        margin-left: 8%;
        margin-right: 3%;
    }

    .s-icons .bx {
        margin-left: 5%;
        cursor: pointer;
    }

    .rows {
        margin-bottom: 1rem;
        width: 240px;
        padding: 0.70rem;
        margin-top: 8%;
        box-shadow: 0 0 5px #d9d9d9;
        transition: all .2s ease-in-out;
        display: flex;
        background-color: var(--primaryColor);

    }

}

@media screen and (min-width: 390px) and (max-width: 844px) {
    .skills {
        background-color: var(--independence);
        margin-top: 10%;
        height: 170vh;
    }

    .title2 {
        font-size: 20px;
    }

    .box-skills {
        background-color: var(--primaryColor);
        height: 140vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        border-radius: 50px;

    }

    hr {
        margin-top: -10%;
    }

    .frontend-hr {
        width: 240px;
        margin-left: 1%;
        margin-right: 50%;
        margin-top: 2%;
        margin-bottom: 5%;

    }

    .frontback-card {
        width: 260px;
        padding: 10px 10px;
        background-color: var(--manatee);
        border-radius: 40px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30%;
        margin-bottom: 30%;
        height: 50vh;
        box-shadow: 0 0 10px black;
    }

    p {
        margin-top: -1%;
        font-size: 15px;
        margin-left: 8%;
        margin-right: 3%;
    }

    .s-icons .bx {
        margin-left: 5%;
        cursor: pointer;
    }

    .rows {
        margin-bottom: 1rem;
        width: 240px;
        padding: 0.70rem;
        margin-top: 8%;
        box-shadow: 0 0 5px #d9d9d9;
        transition: all .2s ease-in-out;
        display: flex;
        background-color: var(--primaryColor);

    }

}

@media screen and (min-width: 820px) and (max-width: 1180px) {
    .skills {
        background-color: var(--independence);
        margin-top: 10%;
        height: 170vh;
    }

    .title2 {
        font-size: 23px;
    }

    .box-skills {
        background-color: var(--primaryColor);
        width: 700px;
        height: 140vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        margin-left: 3%;

        padding: 20px 40px;
        border-radius: 50px;

    }

    hr {
        margin-top: -1%;
    }

    .frontend-hr {
        width: 420px;
        margin-left: 1%;
        margin-right: 50%;
        margin-top: 2%;
        margin-bottom: 5%;

    }

    .frontback-card {
        width: 450px;
        padding: 10px 10px;
        background-color: var(--manatee);
        border-radius: 40px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        height: 60vh;
        box-shadow: 0 0 10px black;
    }

    p {
        margin-top: -1%;
        font-size: 22px;
        margin-left: 8%;
        margin-right: 3%;
    }

    .s-icons .bx {
        margin-left: 5%;
        cursor: pointer;
    }

    .rows {
        margin-bottom: 1rem;
        width: 420px;
        padding: 0.8rem;
        font-size: 30px;
        margin-top: 8%;
        box-shadow: 0 0 5px #d9d9d9;
        transition: all .2s ease-in-out;
        display: flex;
        background-color: var(--primaryColor);


    }

}