.App {
  text-align: center;
}

:root {
  --primaryColor: #00001e;
  --secondaryColor: #f2e24b;
  --grayColor: rgb(154, 130, 130);

  --yellowColor: hsl(50, 100%, 64%);
  --goldenColor: hsl(50, 100%, 54%);
  --independence: hsl(225, 24%, 27%);
  --orange-soda: hsl(7, 96%, 61%);
  --fiery-rose: hsl(353, 83%, 65%);
  --klein-blue: hsl(230, 80%, 39%);
  --bluetiful: hsl(222, 88%, 55%);
  --glaucous: hsl(230, 52%, 63%);
  --manatee: hsl(254, 7%, 65%);
  --rufous: hsl(2, 85%, 35%);
  /* --primaryColor: hsl(0, 0%, 0%); */
  --white: #fff;
  --textColor: #343232;
  /* --secondaryColor: #191970; */
  --primaryFont: "Poppins", sans-serif;
  --headerFont: 'Times New Roman', Times, serif;
  --smallHeadingFont: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --secondaryFont: 'Raleway', sans-serif;
}

* {
  transition: all 0.5s;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--primaryColor);
  /* color: #191970; */
  line-height: 2;
}

h1 {
  font-family: var(--headerFont);
  color: var(--yellowColor);
}

hr {
  width: 210px;
  margin: 1rem;
  border: 3px solid #eece1a;
  margin-left: 44%;
}